                        /* Базовые (для групп тегов)                            */

body {
  font-size: 16px;
  line-height: 22px;
  color:rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 1);
}

h1, h2, h3, h4 , .price , .prices p{
  color: rgba(0, 0, 0, 1);
} 

.black{
  color: rgba(0, 0, 0, 1);
}


                                       /* header */

.header-register{
  background-color: rgba(0, 0, 0, 1);
}

.header-register p{
  font-size:14px ;
  line-height: 18.9px;
  color:rgba(255, 255, 255, 1) ;
}

.header-register-link{
  font-weight: 500;
  color:rgba(255, 255, 255, 1) ;
}

.header-nav-links{
  list-style:none;
}

.header-nav-link a{
  list-style: none;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.header-nav-search{
  background-color: rgba(240, 240, 240, 1);
  border-radius: 62px;
}

input[name="header-nav-input"]{
  background-color: rgba(240, 240, 240, 1);
  border: none;
}


                              /* section  hero */

h1{
  font-size:64px ;
  line-height: 64px;
  font-weight: 700;
}

.hero-button{
  font-size: 16px;
  line-height: 21.6px;
  font-weight: 500;
  color:rgba(240, 240, 240, 1) ;
  list-style: none;
  text-decoration:none;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 62px;
}



                                        /* section  brends */

.brends{
  background-color:rgba(0, 0, 0, 1) ;
}

.brends-list{
  list-style: none;
}

                                        section