/*                                                    header  */
header{
    height: 110px;
    margin-bottom:24px;
    transition:margin 1s , padding 1s;
}

.header-register{
    background-color: rgba(0, 0, 0, 1);
    height: 38px;
    padding:9px 100px 10px 100px;
    display: flex;
    margin-bottom: 24px;
}

.header-register p{
    font-size:14px ;
    line-height: 18.9px;
    color:rgba(255, 255, 255, 1) ;
    margin:0 auto;
    height:20px ;
}

.header-register-link{
    border-bottom:1px solid rgba(255, 255, 255, 1);
    font-weight: 500;
    color:rgba(255, 255, 255, 1);
    text-decoration:none;
}

.header-register-close{
    margin: 0;
    padding:0;
    background: none; 
    border: none;
}

.header-register-close img{
    margin: 0;
    padding: 0;
}

.header-content{
  max-width:1440px;
  padding:0 100px;
  margin:0 auto;
}

.header-nav{
  width:100%;
  display: flex;
  height: 48px;
  position:relative;
  align-items: center;
}

.header-nav-more{
  display:none;
}

.header-nav-logo{
    width:200px;
    height: 22px;
    margin:0;
    margin-right:auto;
}

.header-nav-links{
  width:361px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  margin-right:auto;
  flex-wrap:nowrap;
  list-style:none;
}

.header-nav-link{
  margin-right:24px;
}

.header-nav-link a{
  list-style: none;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.header-nav-link:first-child{
  margin-right:20px;
}

.header-nav-link:last-child{
  margin-right:40px;
}

.header-nav-img img{
  margin: 13.87px 13.87px 13.87px 17.86px;
}

.header-nav-search {
  position: relative; 
  width:557px;
  height:48px;
  display: flex;
  margin-right:40px;
  background-color: rgba(240, 240, 240, 1);
  border-radius: 62px;
}

#header-nav-input {
  background-color: rgba(240, 240, 240, 1);
  padding: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  border-radius:62px;
  outline: none;
  font-family: "Satoshi";
  font-size: 16px;
  line-height: 21.6px;
  color: rgba(0, 0, 0, 1);
  font-weight:500;
}

#header-nav-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.custom-datalist {
  display: none;
  position: absolute;
  top: 100%;
  width:100%;
  background-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.custom-datalist.show {
  display: block;
}

.custom-datalist a {
  display:block;
  text-decoration:none;
  padding: 8px;
  font-family: "Satoshi";
  font-size: 16px;
  line-height:21.6px;
  cursor: pointer;
  color:rgba(0, 0, 0,1);
  font-weight:500;
}

.custom-datalist a:hover {
  background-color:rgba(240, 240, 240, 1);
}

.custom-datalist::-webkit-scrollbar {
  width: 8px;
}

.custom-datalist::-webkit-scrollbar-track {
  background: rgba(240, 240, 240, 1);
}

.custom-datalist::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.custom-datalist::-webkit-scrollbar-thumb:hover {
  background:gray; 
}

.header-nav-other{
  display: flex;
  width: 62px;
  height: 24px;
  align-items: center;
  justify-content: space-between;
  margin-left:auto;
}

.header-nav-other{
  padding-top:1.87px;
}

.Magnifying_glass-button{
  display: none;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.selected-option {
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  display: flex;
  width: 57px;
  height: 22px;
  align-items: center;
  justify-content: space-between;
  color:rgba(0, 0, 0, 1);
}

.selected-option-img{
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
}

.selected-option-arrow{
  margin:5.25px 0 4.25px 0;
}

.notInverted{
  transform: rotate(180deg);
}

.options {
  display: none;
}

.options.visible {
  display: block;
  height:88px;
  display:flex;
  flex-direction:column;
  column-gap:3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius:10px;
}

.option {
  cursor: pointer;
  border-radius:10px;
  padding:0 3.5px 0 3.5px;
}

.option:hover{
  background-color: rgba(240, 240, 240, 1);
}


/*                 разметка header при ширине экрана не менее 845px , но не более 1420px */

@media (max-width:1420px){
  .header-content{
    min-width:845px;
  }
  
  .header-register-close{
    display:none;
  }

  .header-nav-more{
    display:block;
    border:none;
    background-color:white;
    margin:0;
    padding:0;
    margin-right:auto;
  }

  .header-nav-more.inverted{
    transform: rotate(90deg);
  }

  .header-nav-links{
    display:none;
  }

  .header-nav-links.visible{
    position:absolute;
    display:flex;
    top:40px;
  }

  .header-nav-search{
    margin-left:100px;
  }

  .header-nav-logo{
    margin-left:46px;
  }

  .account{
    margin-left:15.88px;
  }
}



/*                разметка header при ширине экрана меньше 845px */
                                            
@media (max-width:845px){

  .header-content{
    min-width:390px;
  }

  .header-nav{
    min-width:395px;
    position:relative;
  }

  .header-nav-logo{

    margin-left:16px;

  }

  .header-nav-search{
    display:none;
  }

  .header-nav-other{
    max-width:200px;
    min-width:96px;
    justify-content:space-between;
    margin-left:97.8px;
  }

  .Magnifying_glass-button{
    display:block;
    background-color:white;
    padding:0;
    margin-right:13.87px;
    border:none;
    color:black
  }
  
  .telegka{
    padding:0;
    margin-right:13.87px;
  }

  .account{
    margin:0;
  }

  .header-nav-search.visible{
    width:100%;
    top:100%;
    display:flex;
    position:absolute;
    margin:0;
  }

}










/*                разметка header при ширине экрана меньше 500px */


@media (max-width:500px){

  .header-content{
    padding:0 16px 0 16px;
    min-width:390px;
  }

  .header-nav{
    min-width:345px;
    position:relative;
  }

  .header-register{
    margin:0;
    height:34px;
    padding:9px 40px;
  }

  .header-register p{
    font-size:12px ;
    line-height:16.2px;
  }

  #header{
    height:78px;
  }

  .header-nav-more{
    width:18.75px !important;
    height:14.25px !important;
  }

  .header-nav-logo img{
    width:126px !important;
    height:18px !important;
  }

  .header-nav-logo{
    width:126px !important;
    height:18px !important;
    margin-left:16px;

  }

  .header-nav-search{
    display:none;
  }

  .header-nav-other{
    max-width:200px;
    min-width:96px;
    justify-content:space-between;
    margin-left:97.8px;
  }

  .Magnifying_glass-button{
    display:block;
    background-color:white;
    padding:0;
    margin-right:13.87px;
    border:none;
    color:black
  }
  
  .telegka{
    padding:0;
    margin-right:13.87px;
  }

  .account{
    margin:0;
  }

  .header-nav-search.visible{
    width:100%;
    top:100%;
    display:flex;
    position:absolute;
    margin:0;
  }

}

                                              /* стили  разметка при ширине экрана менее 400px */

                              /* Реализую когду начну делать адаптивность у хотя бы футера или главного контента  home.html */



@media (max-width:400px){

  /*                                             footer */

  .footer-flex1 h2{
    font-size: 32px;
    line-height: 35px;
  }

  input[name="footer-flex1-email"]::placeholder{
  font-family: "Satoshi";
  font-size: 16px;
  line-height: 21.6px;
  color:rgba(0, 0, 0, 0.4) ;
  }

  .footer-flex2-part1 p{
    font-size: 14px;
    line-height: 20px;
  }
}



/*                                             footer */

.footer{
  height:679px;
  margin-top:10px;
}

.footer-flex1{
  background-color: rgba(0, 0, 0, 1);
  border-radius: 20px;
  width: 1240px;
  height: 180px;
  margin:0 auto;
  display: flex;
  align-items:center;
  justify-content:space-between;
  padding:0 64px;
  position:relative;
  top:90px
}

.footer-flex1 h2{
  font-size: 40px;
  line-height: 45px;
  color: rgba(255, 255, 255, 1);
  width:551px;
  height: 94px;
}

.footer-form{
  width:349px;
  height:108px;
}

.footer-form div{
  width:349px;
  height:48px;
  display:flex;
  align-items:center;
  padding-left:16px;
  margin-bottom:14px;
}

.footer-form-img{
  margin-top:4.13px;
}

#footer-flex1-email{
  padding:0;
  margin:0 auto 2px 12px;
  border: none;
}

#footer-flex1-email::placeholder{
  font-family: "Satoshi";
  font-size: 16px;
  line-height: 21.6px;
  color:rgba(0, 0, 0, 0.4) ;
}

#footer-flex1-sending{
  width:349px;
  height:46px;
  padding:12px 99.5px;
}

#footer-flex1-sending::placeholder{
  font-weight:500;
}

.footer-form div , #footer-flex1-sending{
    background-color:rgba(255, 255, 255, 1) ;
    border-radius: 62px;
    border: none;
}

.footer-flex2and3-wrapper{
  width: 100%;
  height:499px;
  margin:0 auto;
  background-color: rgba(240, 240, 240, 1)
}



.footer-flex2{
  width: 1240px;
  height: 227px;
  margin:0 auto 25px auto;
  display: flex;
  justify-content:space-between;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  padding-bottom:50px;
  position: relative;
  top:140px
}

.footer-flex2-part1{
  width:248px;
  height:177px;
}

.footer-flex2-part1 h3{
  margin:0 auto 25px 0;
  font-family:"Integral CF";
}

.footer-flex2-part1 p{
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 22px;
}

.footer-messagers{
  width: 148px;
  height: 28px;
  display: flex;
  justify-content:space-between;
  margin:0;
}

.footer-messager{
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color:rgba(255, 255, 255, 1) ;
  border-radius:50%;
  width:28px;
  height:28px;
}

.footer-messager a{
  width:28px;
  height:28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-messager:nth-child(2){
    background-color:black ;
    border-radius:50% ;
    border: none;
}

.footer-links{
  width:878.5px;
  height:177px; 
  display: flex;
  margin:0;
  padding-bottom:2px;
}

.footer-links-column ul{
  height:177px; 
}

.footer-links-column{
  margin-right:113.5px;
}

.footer-links-column:last-child{
  margin: 0;
}

.footer-link a h4{
  margin:0;
  margin-bottom: 26px;
  letter-spacing: 3px;
}

.footer-link{
  margin:0;
  margin-bottom:15px;
}

.footer-link a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.6);
}

.footer-link a:last-child{
  margin-bottom:0;
}

.footer-flex3{
  width:1240px;
  height:30.03px;
  margin:0 auto 88px auto;
  display: flex;
  justify-content:space-between;
  align-items:center;
  position: relative;
  top:140px
}

.footer-cards{
  width:281.07px;
  height:30.03px;
  display:flex;
  justify-content:space-between;
}

.footer-card{
  width:46.61px;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:rgba(255, 255, 255, 1) ;
  border-radius: 5.38px;
}

.footer-copyring , .footer-policy{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.6);
}
