@font-face {
  font-family: 'Satoshi';
  font-weight: normal;
  font-style: normal;
  src: local("Satoshi"),
       url(../fonts/Satoshi-Regular.woff2) format(woff2),
}

@font-face {
  font-family: 'Integral CF';
  font-weight: normal;
  font-style: normal;
  src: local("Integral CF"),
       url(../fonts/IntegralCF-Regular.woff2) format(woff2)
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 1);
  font-family: "Satoshi";
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Integral CF";
}

h1, h2, h3, h4, .price, .price_now {
  color: rgba(0, 0, 0, 1);
}

.H2-IntegralFont {
  font-family: "Integral CF";
  font-size: 48px;
  line-height: 57.6px;
}

.black {
  color: rgba(0, 0, 0, 1);
}

.clothes-name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
}

.assessment {
  font-size: 14px;
  line-height: 18px;
}

ul, li {
  padding: 0;
  list-style: none;
}

input::placeholder {
  font-size: 16px;
  line-height: 21.6px;
  color: rgba(0, 0, 0, 0.4);
}

.button {
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 21.6px;
  font-weight: 500;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 62px;
  transition: all 0.3s ease;
}

.buttonBlack {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 21.6px;
  font-weight: 500;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius: 62px;
  transition: all 0.3s ease;
}

.button:hover,
.buttonBlack:hover {
  opacity: 0.8;
  transform: translateY(-1px);
}

.rewiew-name {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
}

.clothes-img {
  border-radius: 20px;
}

.rating-stars {
  display: flex;
  gap: 2px;
}

.rating-star {
  width: 18px;
  height: 18px;
}

.half {
  width: 9px;
  overflow: hidden;
}

.half img {

  width: 18px;
  height: 18px;
}

.last-star {
  margin: 0;
}

.rating-number{
  margin-left:9px;
}

                                                  /*ProductSections*/

.ProductSection{
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.ProductSection h2{
  margin:0 auto 55px auto;
}

.ProductList{
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 20px;
  margin: 0 auto 36px auto;
}

.ProductList-item{
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 403px;
}

.wrapper-clothes-img{
  margin-bottom: 16px;
}

.clothes-name{
  margin:0 0 8px 0;
}

.ProductList-item-mark{
  width: 100%;
  height: 19px;
  display: flex;
  justify-content: space-between;
  margin-bottom:0 auto 8px 0;
}

.ProductList-item-stars{
  display: flex;
  gap:5.3px;
}

.ProductList-item-assessment{
  display: flex;
  margin: 0 auto 0 10px;
}

.price{
  margin: 0;
}

.price, .price_now, .price_was {
  font-size: 24px;
  line-height: 32.4px;
  font-weight: 700;
}

.price_was {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
}

.price_sale {
  color: rgba(255, 51, 51, 1);
  background-color: rgba(255, 51, 51, 0.1);
  border-radius: 62px;
  font-size: 12px;
  padding: 6px 13.5px;
}

.ProductList-item-prices{
  display: flex;
  column-gap: 10px;
}

.ProductList-item-prices p{
  margin: 0;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ProductList-button{  
  width: 218px;
  height: 52px;
  margin:0 auto;
}



                                                        /*CategoryPage */


.CategoryPage{
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.CategoryPage h2{
  margin:0 auto 55px auto;
}

.Category{
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 20px;
  margin: 0 auto 36px auto;
}

.Category-item{
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 403px;
}

.wrapper-clothes-img{
  margin-bottom: 16px;
}

.clothes-name{
  margin:0 0 8px 0;
}

.Category-item-mark{
  width: 100%;
  height: 19px;
  display: flex;
  justify-content: space-between;
  margin-bottom:0 auto 8px 0;
}

.Category-item-stars{
  display: flex;
  gap:5.3px;
}

.Category-item-stars li:last-child{
  width: 15px;
}

.Category-item-assessment{
  display: flex;
  margin: 0 auto 0 10px;
}

.price{
  margin: 0;
}

.price, .price_now, .price_was {
  font-size: 24px;
  line-height: 32.4px;
  font-weight: 700;
}

.price_was {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
}

.price_sale {
  color: rgba(255, 51, 51, 1);
  background-color: rgba(255, 51, 51, 0.1);
  border-radius: 62px;
  font-size: 12px;
  padding: 6px 13.5px;
}

.Category-item-prices{
  display: flex;
  column-gap: 10px;
}

.Category-item-prices p{
  margin: 0;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.Category-button{  
  width: 218px;
  height: 52px;
  margin:0 auto;
}

                                                    /* Breadcrumbs */
.hero-breadcrumbs {
    margin-bottom: 32px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.hero-breadcrumbs a {
    font-size: 24px;
    line-height: 21.6px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.breadcrums_arrow{
    margin-left: 15px;
    position: relative;
    top: 2.5px;
}

.hero-breadcrumbs a:hover {
    color: rgba(0, 0, 0, 0.8);
}

.hero-breadcrumbs a.active {
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}


                                                      /*Адаптивность*/


                                                      /* Breadcrumbs */

@media(max-width:576px){
    .hero-breadcrumbs {
    justify-content: center;
    flex-wrap: wrap;
}
}

