/*                                                     common */

body{
    margin: 0;
    padding: 0;
}

.section-special_margin , .main-content{
  margin: 0 auto;
}

*{
    box-sizing: border-box;
   }

ul , li{
    padding:0;
}

.half {
  width: 8.79px !important;
  margin:0 !important;
}

.half img {
  clip-path: inset(0 50% 0 0);
  width: 18.49px;
  height: 16.72px;
  margin: 0;
}

.last-star{
  margin:0 !important;
}

.assessment{
  margin-right:auto;
}

.prices{
  width: 200px;
  height: 32px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-right:auto;
}

.prices p:last-child{
  width: 56px;
  height: 28px;
  padding:6px 13.5px
}

.wrapper-clothes-img{
  display: block;
  width:295px;
  height:298px;
  margin-bottom:16px;
}

/*                                                    header  */
header{
    height: 110px;
    margin-bottom:24px;
    transition:margin 1s , padding 1s;
    /* max-width:1600px; */
}

.header-register{
    height: 38px;
    padding:9px 100px 10px 100px;
    display: flex;
    margin-bottom: 24px;
}

.header-register p{
    margin:0 auto;
    /* width: 351px; */
    height:20px ;
}

.header-register-link{
    border-bottom:1px solid rgba(255, 255, 255, 1);
}

.header-register-close{
    margin: 0;
    padding:0;
    background: none; 
    border: none;
}

.header-register-close img{
    margin: 0;
    padding: 0;
}

.header-content{
  /* min-width:1110px; */
  padding:0 100px;
}

.header-nav{
  width:100%;
  display: flex;
  height: 48px;
  position:relative;
  align-items: center;
}

.header-nav-more{
  display:none;
}

.header-nav-logo{
    width:200px;
    height: 22px;
    margin:0;
    margin-right:auto;
}

.header-nav-links{
  width:361px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  margin-right:auto;
  flex-wrap:nowrap;
}

/* .header-nav-links.visible{
  
} */

.header-nav-link{
  margin-right:24px;
}

.header-nav-link:first-child{
  margin-right:20px;
}

.header-nav-link:last-child{
  margin-right:40px;
}

.header-nav-img img{
  margin: 13.87px 13.87px 13.87px 17.86px;
}

.header-nav-search {
  position: relative; 
  width:557px;
  height:48px;
  display: flex;
  margin-right:40px;
}

#header-nav-input {
  padding: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  border-radius:62px;
  outline: none;
  font-family: "Satoshi";
  font-size: 16px;
  line-height: 21.6px;
  color: rgba(0, 0, 0, 1);
  font-weight:500;
}

#header-nav-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.custom-datalist {
  display: none;
  position: absolute;
  top: 100%;
  width:100%;
  background-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.custom-datalist.show {
  display: block;
}

.custom-datalist div {
  padding: 8px;
  font-family: "Satoshi";
  font-size: 16px;
  line-height:21.6px;
  cursor: pointer;
  color:rgba(0, 0, 0,1);
  font-weight:500;
}

.custom-datalist div:hover {
  background-color:rgba(240, 240, 240, 1);
}

.custom-datalist::-webkit-scrollbar {
  width: 8px;
}

.custom-datalist::-webkit-scrollbar-track {
  background: rgba(240, 240, 240, 1);
}

.custom-datalist::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.custom-datalist::-webkit-scrollbar-thumb:hover {
  background:gray; 
}

.header-nav-other{
  display: flex;
  width: 62px;
  height: 24px;
  align-items: center;
  justify-content: space-between;
  margin-left:auto;
}

.header-nav-other{
  padding-top:1.87px;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.selected-option {
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  display: flex;
  width: 57px;
  height: 22px;
  align-items: center;
  justify-content: space-between;
  color:rgba(0, 0, 0, 1);
}

.selected-option-img{
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
}

.selected-option-arrow{
  margin:5.25px 0 4.25px 0;
}

.notInverted{
  transform: rotate(180deg);
}

.options {
  display: none;
}

.options.visible {
  display: block;
  height:88px;
  display:flex;
  flex-direction:column;
  column-gap:3px;
  /* background-color:white; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius:10px;
  /* padding:3.5px; */
}

.option {
  cursor: pointer;
  border-radius:10px;
  padding:0 3.5px 0 3.5px;
}

.option:hover{
  background-color: rgba(240, 240, 240, 1);
}

/*                                      разметка при ширине экрана более 1420px */

@media (min-width: 1420px) {
  .header{
      padding:0;
  }
  .header-content{
      max-width:1800px;
      margin:0 auto;
  }
}

/*                             разметка при ширине экрана не менее 600px , но не более 1420px */

@media (max-width:1420px){
  .header-content{
    min-width:840px;
  }

  .header-register-close{
    display:none;
  }

  .header-nav-more{
    display:block;
    border:none;
    background-color:white;
    margin:0;
    margin-right:auto;
  }

  .header-nav-more.inverted{
    transform: rotate(90deg);
  }

  .header-nav-links{
    display:none;
  }

  #header{
    margin-bottom:1000px !important
  }
  
  .header-nav-links.visible{
    position:absolute;
    display:flex;
    top:40px;
    /* left:100px */
  }

  .header-nav-search{
    margin-left:100px;
  }

  .header-nav-logo{
    margin-left:46px;
  }

  .account{
    margin-left:15.88px;
  }
}




/*                                             footer */

.footer{
  height:679px;
  margin-top:10px;
}

.footer-flex1{
  width: 1240px;
  height: 180px;
  margin:0 auto;
  display: flex;
  align-items:center;
  justify-content:space-between;
  padding:0 64px;
  position:relative;
  top:90px
}

.footer-flex1 h2{
  width:551px;
  height: 94px;
}

.footer-form{
  width:349px;
  height:108px;
}

.footer-form div{
  width:349px;
  height:48px;
  display:flex;
  align-items:center;
  padding-left:16px;
  margin-bottom:14px;
}

.footer-form-img{
  margin-top:4.13px;
}

input[name="footer-flex1-email"]{
  padding:0;
  margin:0 auto 2px 12px
}

input[name="footer-flex1-sending"]{
  width:349px;
  height:46px;
  padding:12px 99.5px;
}

input[name="footer-flex1-sending"]::placeholder{
  font-weight:500;

}

.footer-flex2and3-wrapper{
  width: 100%;
  height:499px;
  margin:0 auto;
}



.footer-flex2{
  width: 1240px;
  height: 227px;
  margin:0 auto 25px auto;
  display: flex;
  justify-content:space-between;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  padding-bottom:50px;
  position: relative;
  top:140px
}

.footer-flex2-part1{
  width:248px;
  height:177px;
}

.footer-flex2-part1 h3{
  margin:0 auto 25px 0;
}

.footer-flex2-part1 p{
  margin-bottom: 35px;
}

.footer-messagers{
  width: 148px;
  height: 28px;
  display: flex;
  justify-content:space-between;
  margin:0;
}

.footer-messager{
  width:28px;
  height:28px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.footer-messager a{
  width:28px;
  height:28px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-links{
  width:878.5px;
  height:177px; 
  display: flex;
  margin:0;
  padding-bottom:2px;
}

.footer-links-column ul{
  height:177px; 
}

.footer-links-column{
  margin-right:113.5px;
}

.footer-links-column:last-child{
  margin: 0;
}

.footer-link a h4{
  margin:0;
  margin-bottom: 26px;

}

.footer-link{
  margin:0;
  margin-bottom:15px;
}

.footer-link a:last-child{
  margin-bottom:0;
}

.footer-flex3{
  width:1240px;
  height:30.03px;
  margin:0 auto 88px auto;
  display: flex;
  justify-content:space-between;
  align-items:center;
  position: relative;
  top:140px
}

.footer-cards{
  width:281.07px;
  height:30.03px;
  display:flex;
  justify-content:space-between;
}

.footer-card{
  width:46.61px;
  display:flex;
  align-items:center;
  justify-content:center;
}