/*                                                     common */

body{
    margin: 0;
    padding: 0;

}

.section-special_margin , .main-content{
  margin: 0 auto;
}

*{
    box-sizing: border-box;
   }

ul , li{
    padding:0;
}

.half {
  width: 8.79px !important;
  margin:0 !important;
}

.half img {
  clip-path: inset(0 50% 0 0);
  width: 18.49px;
  height: 16.72px;
  margin: 0;
}

.last-star{
  margin:0 !important;
}

.assessment{
  margin-right:auto;
}

.prices{
  width: 200px;
  height: 32px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-right:auto;
}

.prices p:last-child{
  width: 56px;
  height: 28px;
  padding:6px 13.5px
}

.wrapper-clothes-img{
  display: block;
  width:295px;
  height:298px;
  margin-bottom:16px;
}

/*                                                    header  */


header{
    width: 100%;
    height: 110px;
    margin-bottom:24px;
}

.header-register{
    width: 100%;
    height: 38px;
    padding:9px 100px 10px 100px;
    display: flex;
    margin-bottom: 24px;
}



.header-register p{
    margin:0 auto;
    width: 351px;
    height:20px ;
}

.header-register-link{
    border-bottom:1px solid rgba(255, 255, 255, 1);
}

.header-register-close{
    margin: 0;
    padding:0;
    background: none; 
    border: none;
}


.header-register-close img{
    margin: 0;
    padding: 0;
}

.header-nav{
  display: flex;
  width: 1240px;
  height: 48px;
  margin:0 auto;
  align-items: center;
}

.header-nav-logo{
    width: 160px;
    height: 22px;
    margin:0;
    margin-right:40px;
}

.header-nav-links{
  width: 321px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.header-nav-search{
  width: 577px;
  height: 48px;
  margin-right: 40px;
  display: flex;
  padding-right:10px;
}

.header-nav-img img{
  margin: 13.87px 13.87px 13.87px 17.86px;
}

#header-nav-input{
  /* margin: 14px auto 14px 0; */
  padding: 0;
  align-items: center;
  width:100%;
  height:100%;
}

#header-nav-input::placeholder{
  font-family: "Satoshi";
  font-weight: 500;
} 

.header-nav-other{
  display: flex;
  width: 62px;
  height: 24px;
  align-items: center;
  justify-content: space-between;
}

.header-nav-other{
  padding-top:1.87px;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.selected-option {
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  display: flex;
  width: 57px;
  height: 22px;
  align-items: center;
  justify-content: space-between;
}

.selected-option-img{
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
}

.selected-option-arrow{
  margin:5.25px 0 4.25px 0;
}

.notInverted{
  transform: rotate(180deg);
}

.options {
  display: none;
}

.options.visible {
  display: block;
}

.header {
  transition: margin-bottom 0.8s;
}

.option {
  cursor: pointer;
}




/*                                             footer */

.footer{
  height:679px;
  margin-top:10px;
}

.footer-flex1{
  width: 1240px;
  height: 180px;
  margin:0 auto;
  display: flex;
  align-items:center;
  justify-content:space-between;
  padding:0 64px;
  position:relative;
  top:90px
}

.footer-flex1 h2{
  width:551px;
  height: 94px;
}

.footer-form{
  width:349px;
  height:108px;
}

.footer-form div{
  width:349px;
  height:48px;
  display:flex;
  align-items:center;
  padding-left:16px;
  margin-bottom:14px;
}

.footer-form-img{
  margin-top:4.13px;
}

input[name="footer-flex1-email"]{
  padding:0;
  margin:0 auto 2px 12px
}

input[name="footer-flex1-sending"]{
  width:349px;
  height:46px;
  padding:12px 99.5px;
}

input[name="footer-flex1-sending"]::placeholder{
  font-weight:500;

}

.footer-flex2and3-wrapper{
  width: 100%;
  height:499px;
  margin:0 auto;
}



.footer-flex2{
  width: 1240px;
  height: 227px;
  margin:0 auto 25px auto;
  display: flex;
  justify-content:space-between;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  padding-bottom:50px;
  position: relative;
  top:140px
}

.footer-flex2-part1{
  width:248px;
  height:177px;
}

.footer-flex2-part1 h3{
  margin:0 auto 25px 0;
}

.footer-flex2-part1 p{
  margin-bottom: 35px;
}

.footer-messagers{
  width: 148px;
  height: 28px;
  display: flex;
  justify-content:space-between;
  margin:0;
}

.footer-messager{
  width:28px;
  height:28px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.footer-messager a{
  width:28px;
  height:28px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-links{
  width:878.5px;
  height:177px; 
  display: flex;
  margin:0;
  padding-bottom:2px;
}

.footer-links-column ul{
  height:177px; 
}

.footer-links-column{
  margin-right:113.5px;
}

.footer-links-column:last-child{
  margin: 0;
}

.footer-link a h4{
  margin:0;
  margin-bottom: 26px;

}

.footer-link{
  margin:0;
  margin-bottom:15px;
}

.footer-link a:last-child{
  margin-bottom:0;
}

.footer-flex3{
  width:1240px;
  height:30.03px;
  margin:0 auto 88px auto;
  display: flex;
  justify-content:space-between;
  align-items:center;
  position: relative;
  top:140px
}

.footer-cards{
  width:281.07px;
  height:30.03px;
  display:flex;
  justify-content:space-between;
}

.footer-card{
  width:46.61px;
  display:flex;
  align-items:center;
  justify-content:center;
}