/*                                                     common */

body{
    margin: 0;
    padding: 0;
}

.section-special_margin , .main-content{
  margin: 0 auto;
}

*{
    box-sizing: border-box;
   }

ul , li{
    padding:0;
}

.half {
  width: 8.79px !important;
  margin:0 !important;
}

.half img {
  clip-path: inset(0 50% 0 0);
  width: 18.49px;
  height: 16.72px;
  margin: 0;
}

.last-star{
  margin:0 !important;
}

.assessment{
  margin-right:auto;
}

.prices{
  width: 200px;
  height: 32px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-right:auto;
}


.prices p:last-child{
  width: 56px;
  height: 28px;
  padding:6px 13.5px
}

/*                                                    header  */


header{
    width: 100%;
    height: 110px;
    margin-bottom:24px;
}

.header-register{
    width: 100%;
    height: 38px;
    padding:9px 100px 10px 100px;
    display: flex;
    margin-bottom: 24px;
}



.header-register p{
    margin:0 auto;
    width: 351px;
    height:20px ;
}

.header-register-link{
    border-bottom:1px solid rgba(255, 255, 255, 1);
}

.header-register-close{
    margin: 0;
    padding:0;
    background: none; 
    border: none;
}


.header-register-close img{
    margin: 0;
    padding: 0;
}

.header-nav{
  display: flex;
  width: 1240px;
  height: 48px;
  margin:0 auto;
  align-items: center;
}

.header-nav-logo{
    width: 160px;
    height: 22px;
    margin:0;
    margin-right:40px;
}

.header-nav-links{
  width: 321px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.header-nav-search{
  width: 577px;
  height: 48px;
  margin-right: 40px;
  display: flex;
}

.header-nav-img img{
  margin: 13.87px 13.87px 13.87px 17.86px;
}

#header-nav-input{
  margin: 14px auto 14px 0;
  padding: 0;
  align-items: center;
}

#header-nav-input::placeholder{
  font-family: "Satoshi";
  font-weight: 500;
} 

.header-nav-other{
  display: flex;
  width: 62px;
  height: 24px;
  align-items: center;
  justify-content: space-between;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.selected-option {
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  display: flex;
  width: 57px;
  height: 22px;
  align-items: center;
  justify-content: space-between;
}

.selected-option-img{
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
}

.selected-option-arrow{
  margin:5.25px 0 4.25px 0;
}

.notInverted{
  transform: rotate(180deg);
}

.options {
  display: none;
}

.options.visible {
  display: block;
}

.header {
  transition: margin-bottom 0.8s;
}

.option {
  cursor: pointer;
}




