
                              /* section  hero */

h1{
  font-size:64px ;
  line-height: 64px;
}

.hero-button{
  font-size: 16px;
  line-height: 21.6px;
  font-weight: 500;
  color:rgba(240, 240, 240, 1) ;
  list-style: none;
  text-decoration:none;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 62px;
}

.hero-inf-text1{
  font-size: 40px;
  line-height: 54px;
}


                                        /* section  brends */

.brends{
  background-color:rgba(0, 0, 0, 1) ;
}

.brends-list{
  list-style: none;
}




