                                                        /* hero */


                                                
.hero{
    background-color: rgba(240, 240, 240, 1);
    height: 633px;
    position:relative;
}

.hero-content{
    max-width:1440px;
    min-width: 1200px;
    height: 633px;
    background-image: url(../../img/couple-img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding:50px 0 116px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}

.hero-content h1{
    width: 557px;
    font-size: 64px;
    line-height: 1.1;
    margin:0 0 32px 0;
}

.hero-text{
    margin: 0 0 32px 0;
    width: 550px;
}

.hero-button{
    width: 210px;
    height: 52px;
    margin: 0 0 48px 0 ;
}

.hero-inf{
    width: 523px;
    height: 74px;
    display: flex;
}

.hero-inf-item:first-child , .hero-inf-item:nth-child(2){
    padding-right: 25px;
    margin-right: 25px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.hero-inf-item h2 , .hero-inf-item p{
    margin: 0;
}

.hero-inf-item h2{
    margin-bottom:15px;
    font-size: 40px;
}

.hero-black-star1-smallerVersion{
    position: absolute;
    left:50%;
    bottom: 55%;
    
}

.hero-black-star2-smallerVersion{
    position: absolute;
    left:85%;
    bottom: 70%;
}

.site-logoImg1 , .site-logoImg2{
    display: none;
}

                                                        /*brends*/

.brends{
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    margin-bottom: 72px;
}

.brends-list{
    display: flex;
    flex-wrap: wrap;
    padding: 44px 100px;
    justify-content: space-between;
    margin: 0;
}

                                                        /*Arrivals*/

.Arrivals{
    width: 100%;
    padding-bottom: 64px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 64px;
}

                                                        /*Styles*/

.Styles{
    max-width: 1240px;
    min-width: 360px;
    height: auto;
    border-radius: 40px;
    padding: 70px 64px;
    margin: 0 auto 80px auto;
    background-color: rgba(240, 240, 240, 1);
}

.Styles h2{
    margin: 0 auto 64px auto;
}

.Styles-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(240, 240, 240, 1);
    margin: 0 auto;
    row-gap: 30px;
}

.Styles-list a{
    text-decoration: none;
}

.Styles-item{
    position:relative;
    border-radius: 40px;
    margin-right: 20px;
    width: 407px;
    height: 289px;
}

.Styles-item h2{
    position:relative;
    top:15px;
    left:15px
}

.Casual-item{
    background-image: url(../../img/Causal.jpg);
}

.Formal-item{
    background-image: url(../../img/Formal.jpg);
    width: 684px;
    margin:0;
}

.Novelty-item{
    background-image: url(../../img/Party.jpg);
    width: 684px;
}

.Gym-item{
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url(../../img/Gym.jpg);
    margin:0;
} 


                                                    /*carousel */



.carousel {
    position: relative;
    max-width:1440px;
    min-width: 390px;
    margin:0 auto 10px auto;
    overflow: hidden;
    height: 100%;
    padding: 0 10px;
}

.carousel-header{
    max-width:1440px;
    min-width: 400px;
    height: auto;
    margin:0 auto 40px auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.carousel-header h2{
    text-align: center;
    padding-right:25px;
    width: 100%;
    height:58px;
    margin:0;
    margin-right:auto;
}

.carousel-button{
    width:24px;
    height:24px;
    cursor: pointer;
    border: none;
    background-color:rgba(255, 255, 255, 1);
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
}

.prev{
    margin-right:16px;
}

.next{
    transform: rotate(180deg);
}

.carousel-container{
    display: flex;
    transition: transform 1s;
    max-width:1440px;
    min-width: 576px;
}

.review-group {
    display: flex;
    min-width: 100%;
    gap: 20px;
    padding: 0 20px;
}

.Reviews-item {
    flex: 1;
    min-width: 300px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 28px 20px 25px 20px;
    box-sizing: border-box;
}

.review-header {
    display:flex;

    margin:0;
    margin-right:auto;
    margin-bottom: 15px;
}

.review-name {
    font-size: 1.5em;
    margin: 0;
}

.Reviews-item-stars {
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 0 0 5px 0;
    list-style: none;
}

.review-text {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    margin: 0;
}


                                                
                                                /*Адаптивность*/

@media(max-width:1280px){
    .hero{
        height: 100%;
    }

    .hero-content{
        max-width:1100px ;
        min-width: 476px;
        height: 1000px;
        padding: 50px 100px 100px;
        background-position: -200px 100%;
        align-items: center;
    }

    .hero-content h1 , .hero-text{
        width: 100%;
        margin-bottom: 50px;
    }

    .hero-button , .hero-inf{
        margin-right: auto;
    }

    .hero-black-star1-smallerVersion{
        left:25%;
        top: 70%;
    }

    .hero-black-star2-smallerVersion{
        left:65%;
        top:60%;
    }

    .site-logoImg1{
        display: block;
        position: absolute;
        left:3.5%;
        bottom:10%
    }

    .site-logoImg2{
        display: block;
        position: absolute;
        left:75%;
        bottom: 20%;
    }

    .brends-list{
        padding: 39px 50px;
        row-gap:20px;
        justify-content: center;
    }

    .brends-list-item{
        margin-right: 34px;
    }

    .brend-without-margin{
        margin: 0;
    }

    .ProductSections{
        display: flex;
        width: 100%;
        padding: 0 15px;
        justify-content: space-between;
        gap:25px;
        height: auto;
        margin-bottom: 50px
    }

    .ProductSection{
        max-width: 600px;
        min-width: 250px;
        padding: 0;
        flex: 1 1 0;
        border: none;
        height: auto;
    }
    
    .ProductSection h2{
        width: 260px;
        text-align: center;
    }

    .ProductList{
        height: 816px;
        max-width: 600px;
        min-width: 250px;
        gap:20px;
        height: auto;
    }

    .ProductList-item{
        width: 200px;
        height: 300px;
    }

    .clothes-img{
        width: 200px;
        height: 200px;
    }
    
    .clothes-name{
        font-size:17px
    }

    .Styles{
        display: flex;
        flex-direction: column;
    }
    
    .Styles h2{
        display: none;
        margin: 0 auto 64px auto;
    }

    .Styles-list{
        width: 100%;
        justify-content: space-around;
        row-gap: 30px;
    }
    
    .Styles-item{
        width: 300px;
        height: 180px;
    }

    .Styles-item a{
        display: none;
    }

    .Casual-item{
        background-image: url(../../img/Casual_small.png);

    }

    .Formal-item{
        background-image: url(../../img/Formal_small.png);
    }

    .Novelty-item{
        background-image: url(../../img/Party_small.png);
    }

    .Gym-item{
        background-image: url(../../img/Gym_small.png);
    } 
}

@media (max-width: 1200px) {
    .carousel {
        padding: 0 15px;
    }
    
    .review-group {
        gap: 15px;
        padding: 0 8px;
    }
    
    .Reviews-item {
        padding: 24px 18px 20px 18px;
    }
}


@media (max-width: 1024px) {

    .Reviews-item {
        padding: 22px 16px 18px 16px;
        min-width: 200px;
    }

}


@media(max-width:768px){
    .hero-content{
        max-width: 768px;
        min-width: 476px;
        padding: 50px;
        height: 750px;
        background-position: -172.5px 100%;
    }

    .hero-content h1{
        font-size:38px;
    }

    .hero-text{
        font-size:14px
    }

    .hero-inf{
        width: 400px;
        flex-wrap: wrap;
    }

    .hero-inf-item:first-child{
        margin-bottom: 20px;
    }

    .hero-inf-item:nth-child(2){
        border:none;
    }

    .hero-inf-item h1{
        font-size:24px
    }

    .hero-inf-item p{
        font-size: 12px;
    }

    .hero-black-star1-smallerVersion{
        left:20%;
        top: 70%;
    }

    .hero-black-star2-smallerVersion{
        left:60%;
        top:60%;
    }

    .site-logoImg1{
        display: block;
        position: absolute;
        left:0;
        bottom:10%
    }

    .site-logoImg2{
        display: block;
        position: absolute;
        left:70%;
        bottom: 20%;
    }

    .Styles-item{
        width: 400px;
        height: 289px;
    }

    .Styles-item a{
        display: inline-block;
    }


    .Casual-item{
        background-image: url(../../img/Causal.jpg);
    }

    .Formal-item{
        background-image: url(../../img/Formal.jpg);
        background-position: 50% 100%;
    }

    .Novelty-item{
        background-image: url(../../img/Party.jpg);
        background-position: 50% 100%;
    }

    .Gym-item{
        background-image: url(../../img/Gym.jpg);
        background-position: 0 100%;
    } 

    .carousel {
        padding: 0 8px;
        min-width: 390px;
    }
    
    .carousel-header h2 {
        position: relative;
        bottom: 0;
        height: auto;
        padding-right: 0;
        font-size: 1.8em;
    }
    
    .carousel-container {
        min-width: 390px;
    }
    
    .review-group {
        flex-direction: column;
        gap: 12px;
        padding: 0 8px;
    }
    
    .Reviews-item {
        width: 500px;
        margin: 0 auto;
    }
    
    .review-name {
        font-size: 1.3em;
    }
    
    .review-text {
        font-size: 1em;
        line-height: 1.4;
    }
    
    .Reviews-item-stars {
        margin-bottom: 12px;
    }
    
    .Reviews-item-stars img {
        width: 18px;
        height: 18px;
    }
    
    .review-header img {
        width: 20px;
        height: 20px;
    }

}

@media(max-width:576px){    
 
    .hero-content{
        min-width:100%;
        height: auto;
        padding: 40px 16px;
        background-image:none;
        height: 100%;
    }

    .hero-content h1 , .hero-text{
        margin-bottom: 20px;
    }

    .hero-inf{
        width: 100%;
        height: 100%;
    }

    .hero-inf h2{
        font-size:24px;
    }

    .hero-inf p{
        font-size: 12px;
    }

    .hero-black-star1-smallerVersion ,.hero-black-star2-smallerVersion ,.site-logoImg1 ,.site-logoImg2 {
        display: none;
    }

    .brends-list{
        padding: 40px 16px;
    }

    .brends-list-item:nth-child(1) a img{
        width: 116px;
        height: 23px;
    }

    .brends-list-item:nth-child(2) a img{
        width: 63px;
        height: 26px;
    }

    .brends-list-item:nth-child(3) a img{
        width: 109px;
        height: 22px;
    }

    .brends-list-item:nth-child(4) a img{
        width: 127px;
        height: 20px;
    }

    .brends-list-item:nth-child(5) a img{
        width: 134px;
        height: 21px;
    }

    .ProductSections{
        flex-direction: column;
    }

    
    .Styles{
        padding: 40px 24px;
    }

    .Styles-item{
        width: 310px;
        height: 190px;
        margin: 0;
    }

    .Styles-item a{
        display: none;
    }

    .Casual-item{
        background-image: url(../../img/Casual_small.png);
    }

    .Formal-item{
        background-image: url(../../img/Formal_small.png);
    }

    .Novelty-item{
        background-image: url(../../img/Party_small.png);
    }

    .Gym-item{
        background-image: url(../../img/Gym_small.png);
    } 

    .Reviews-item {
        width: 400px;
    }
}


@media (max-width: 480px) {
    .carousel {
        min-width: 350px;
        padding: 0 5px;
    }
    
    .carousel-header {
        min-width: 300px;
        padding: 0 8px;
        gap: 12px;
    }
    
    .carousel-header h2 {
        min-width: 200px;
        font-size: 1.6em;
        text-align: center;
        line-height: normal;
    }
    
    .carousel-buttons {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 20px;
    }
    
    .carousel-container {
        min-width: 390px;
    }
    
    .review-group {
        padding: 0 5px;
        gap: 10px;
    }
    
    .Reviews-item {
        width: 300px;
    }
    
    .review-name {
        font-size: 1.2em;
    }
    
    .review-text {
        font-size: 0.95em;
        line-height: 1.4;
    }
    
    .Reviews-item-stars img {
        width: 16px;
        height: 16px;
    }
}


@media (max-width: 390px) {
    .carousel {
        min-width: 320px;
        padding: 0 3px;
    }
    
    .carousel-header {
        padding: 0 5px;
    }
    
    .carousel-header h2 {
        font-size: 1.4em;
    }
    
    .carousel-container {
        min-width: 320px;
    }
    
    .review-group {
        padding: 0 3px;
        gap: 8px;
    }
    
    .Reviews-item {
        padding: 15px 10px;
        border-radius: 10px;
    }
    
    .review-header {
        flex-wrap: wrap;
        gap: 5px;
    }
    
    .review-name {
        font-size: 1.1em;
    }
    
    .review-text {
        font-size: 0.9em;
        line-height: 1.3;
    }
    
    .Reviews-item-stars {
        gap: 3px;
    }
    
    .Reviews-item-stars img {
        width: 14px;
        height: 14px;
    }
    
    .carousel-button {
        width: 20px;
        height: 20px;
    }
    
    .carousel-button img {
        width: 14px;
        height: 17px;
    }
}
