{% extends "base.html" %}

{% block title %}Shop.CO - home{% endblock %}

{% block extra_styles %}
    <link href="{{ url_for('static', filename='css/content_blocks/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="hero"> 
        <div class="hero-content">
            <h1>FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
            <p class="hero-text">Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
            <a class="hero-button buttonBlack" href="{{ url_for('main.category', category_name='novelty') }}">Shop Now</a>

            <article class="hero-inf"> 
                <div class="hero-inf-item"> 
                    <h2>200+</h2>
                    <p>International Brands</p>
                </div>
                <div class="hero-inf-item"> 
                    <h2>2,000+</h2>
                    <p>High-Quality Products</p>
                </div>
                <div class="hero-inf-item"> 
                    <h2>30,000+</h2>
                    <p>Happy Customers</p>
                </div>
            </article>
        </div>
        <img class="hero-black-star1-smallerVersion" src="{{ url_for('static', filename='img/Black_star.svg') }}" width="56" height="56" alt="black star">
        <img class="hero-black-star2-smallerVersion" src="{{ url_for('static', filename='img/Black_star.svg') }}" width="104" height="104" alt="black star">
        <img class="site-logoImg1" src="{{ url_for('static', filename='img/SHOP.CO.svg') }}" width="160" height="22" alt="Logo of company">
        <img class="site-logoImg2" src="{{ url_for('static', filename='img/SHOP.CO.svg') }}" width="160" height="22" alt="Logo of company">
    </section>

    <section class="brends">
        <ul class="brends-list">
            <li class="brends-list-item"><a href="#"><img src="{{ url_for('static', filename='img/Versage.svg') }}" width="166" height="33" alt="Logo of Versage"></a></li>
            <li class="brends-list-item"><a href="#"><img src="{{ url_for('static', filename='img/Zara.svg') }}" width="91" height="38" alt="Logo of Zara"></a></li>
            <li class="brends-list-item brend-without-margin"><a href="#"><img src="{{ url_for('static', filename='img/Gucci.svg') }}" width="156" height="32" alt="Logo of Gucci"></a></li>
            <li class="brends-list-item"><a href="#"><img src="{{ url_for('static', filename='img/Prada.svg') }}" width="194" height="31" alt="Logo of Prada"></a></li>
            <li class="brends-list-item brend-without-margin"><a href="#"><img src="{{ url_for('static', filename='img/Calvin-clien.svg') }}" width="207" height="33" alt="Logo of Calvin Clien"></a></li>
        </ul>
    </section>

    <div class="ProductSections">
        <section class="Arrivals ProductSection"> 
            <h2 class="H2-IntegralFont">NEW ARRIVALS</h2>

            <ul class="ProductList">
                <li class="ProductList-item">
                    {% if new_arrivals and new_arrivals|length > 0 %}
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=new_arrivals[0].id) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/' + new_arrivals[0].image) }}" width="290" height="293" alt="{{ new_arrivals[0].name }}">
                    </a> 
                    <h3 class="clothes-name">{{ new_arrivals[0].name }}</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            {% set full_stars = new_arrivals[0].rating|int %}
                            {% set has_half = new_arrivals[0].rating - full_stars >= 0.5 %}
                            
                            {% for i in range(full_stars) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endfor %}
                            
                            {% if has_half %}
                            <li class="half"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endif %}
                            
                            {% for i in range(5 - full_stars - (1 if has_half else 0)) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star" style="opacity: 0.3;"></li>
                            {% endfor %}
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">{{ "%.1f"|format(new_arrivals[0].rating) }}/</span>
                            <span>5</span>
                        </p>
                    </div>
                    <p class="price">${{ "%.2f"|format(new_arrivals[0].price) }}</p>
                    {% else %}
                    <!-- Заглушка если товаров нет -->
                    <a class="wrapper-clothes-img" href="#">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/T-TAPE DETAILS.jpg') }}" width="290" height="293" alt="T-shirt with Tape Details">
                    </a> 
                    <h3 class="clothes-name">T-shirt with Tape Details</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star half"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">4.5/</span>
                            <span>5</span>
                        </p>
                    </div>
                    <p class="price">120$</p>
                    {% endif %}
                </li>

                <li class="ProductList-item">
                    {% if new_arrivals and new_arrivals|length > 1 %}
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=new_arrivals[1].id) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/' + new_arrivals[1].image) }}" width="290" height="293" alt="{{ new_arrivals[1].name }}">
                    </a>
                    <h3 class="clothes-name">{{ new_arrivals[1].name }}</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            {% set full_stars = new_arrivals[1].rating|int %}
                            {% set has_half = new_arrivals[1].rating - full_stars >= 0.5 %}
                            
                            {% for i in range(full_stars) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endfor %}
                            
                            {% if has_half %}
                            <li class="half"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endif %}
                            
                            {% for i in range(5 - full_stars - (1 if has_half else 0)) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star" style="opacity: 0.3;"></li>
                            {% endfor %}
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">{{ "%.1f"|format(new_arrivals[1].rating) }}/</span>
                            <span>5</span>
                        </p>
                    </div>
                    
                    {% if new_arrivals[1].old_price %}
                    <div class="ProductList-item-prices prices">
                        <p class="price_now">${{ "%.2f"|format(new_arrivals[1].price) }}</p>
                        <p class="price_was">${{ "%.2f"|format(new_arrivals[1].old_price) }}</p>
                        {% set discount = ((new_arrivals[1].old_price - new_arrivals[1].price) / new_arrivals[1].old_price * 100)|int %}
                        <p class="price_sale">-{{ discount }}%</p>
                    </div>
                    {% else %}
                    <p class="price">${{ "%.2f"|format(new_arrivals[1].price) }}</p>
                    {% endif %}
                    
                    {% else %}
                    <!-- Заглушка -->
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=2) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/SKINNY FIT JEANS.jpg') }}" width="290" height="293" alt="Skinny Fit Jeans">
                    </a>
                    <h3 class="clothes-name">Skinny Fit Jeans</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star half"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">3.5/</span>
                            <span>5</span>
                        </p>
                    </div>
                    <div class="ProductList-item-prices prices">
                        <p class="price_now">240$</p>
                        <p class="price_was">260$</p>
                        <p class="price_sale">-20%</p>
                    </div>
                    {% endif %}
                </li>
                
                <li class="ProductList-item">
                    {% if new_arrivals and new_arrivals|length > 2 %}
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=new_arrivals[2].id) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/' + new_arrivals[2].image) }}" width="290" height="293" alt="{{ new_arrivals[2].name }}">
                    </a> 
                    <h3 class="clothes-name">{{ new_arrivals[2].name }}</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            {% set full_stars = new_arrivals[2].rating|int %}
                            {% set has_half = new_arrivals[2].rating - full_stars >= 0.5 %}
                            
                            {% for i in range(full_stars) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endfor %}
                            
                            {% if has_half %}
                            <li class="half"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endif %}
                            
                            {% for i in range(5 - full_stars - (1 if has_half else 0)) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star" style="opacity: 0.3;"></li>
                            {% endfor %}
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">{{ "%.1f"|format(new_arrivals[2].rating) }}/</span>
                            <span>5</span>
                        </p>
                    </div>
                    <p class="price">${{ "%.2f"|format(new_arrivals[2].price) }}</p>
                    {% else %}
                    <!-- Заглушка -->
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=3) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/CHECKERED SHIRT.jpg') }}" width="290" height="293" alt="Checkered Shirt">
                    </a> 
                    <h3 class="clothes-name">Checkered Shirt</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star half"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">4.5/</span>
                            <span>5</span>
                        </p>
                    </div>
                    <p class="price">180$</p>
                    {% endif %}
                </li>

                <li class="ProductList-item">
                    {% if new_arrivals and new_arrivals|length > 3 %}
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=new_arrivals[3].id) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/' + new_arrivals[3].image) }}" width="290" height="293" alt="{{ new_arrivals[3].name }}">
                    </a> 
                    <h3 class="clothes-name">{{ new_arrivals[3].name }}</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            {% set full_stars = new_arrivals[3].rating|int %}
                            {% set has_half = new_arrivals[3].rating - full_stars >= 0.5 %}
                            
                            {% for i in range(full_stars) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endfor %}
                            
                            {% if has_half %}
                            <li class="half"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endif %}
                            
                            {% for i in range(5 - full_stars - (1 if has_half else 0)) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star" style="opacity: 0.3;"></li>
                            {% endfor %}
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">{{ "%.1f"|format(new_arrivals[3].rating) }}/</span>
                            <span>5</span>
                        </p>
                    </div>

                    {% if new_arrivals[3].old_price %}
                    <div class="ProductList-item-prices prices">
                        <p class="price_now">${{ "%.2f"|format(new_arrivals[3].price) }}</p>
                        <p class="price_was">${{ "%.2f"|format(new_arrivals[3].old_price) }}</p>
                        {% set discount = ((new_arrivals[3].old_price - new_arrivals[3].price) / new_arrivals[3].old_price * 100)|int %}
                        <p class="price_sale">-{{ discount }}%</p>
                    </div>
                    {% else %}
                    <p class="price">${{ "%.2f"|format(new_arrivals[3].price) }}</p>
                    {% endif %}
                    
                    {% else %}
                    <!-- Заглушка -->
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=4) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/SLEEVE STRIPED.jpg') }}" width="290" height="293" alt="Slevve Striped T-shirt">
                    </a> 
                    <h3 class="clothes-name">Sleve Striped T-shirt</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star half"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">4.5/</span>
                            <span>5</span>
                        </p>
                    </div>

                    <div class="ProductList-item-prices prices">
                        <p class="price_now">130$</p>
                        <p class="price_was">160$</p>
                        <p class="price_sale">-30%</p>
                    </div>
                    {% endif %}
                </li>
            </ul>
            <a class="ProductList-button button" href="{{ url_for('main.category', category_name='novelty') }}">View All</a>
        </section>

        <section class="Bests ProductSection">
            <h2 class="H2-IntegralFont">TOP SELLING</h2>

            <ul class="ProductList">
                <li class="ProductList-item">
                    {% if top_selling and top_selling|length > 0 %}
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=top_selling[0].id) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/' + top_selling[0].image) }}" width="290" height="293" alt="{{ top_selling[0].name }}">
                    </a> 
                    <h3 class="clothes-name">{{ top_selling[0].name }}</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            {% set full_stars = top_selling[0].rating|int %}
                            {% set has_half = top_selling[0].rating - full_stars >= 0.5 %}
                            
                            {% for i in range(full_stars) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endfor %}
                            
                            {% if has_half %}
                            <li class="half"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endif %}
                            
                            {% for i in range(5 - full_stars - (1 if has_half else 0)) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star" style="opacity: 0.3;"></li>
                            {% endfor %}
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">{{ "%.1f"|format(top_selling[0].rating) }}/</span>
                            <span>5</span>
                        </p>
                    </div>
                    
                    {% if top_selling[0].old_price %}
                    <div class="ProductList-item-prices">
                        <p class="price_now">${{ "%.2f"|format(top_selling[0].price) }}</p>
                        <p class="price_was">${{ "%.2f"|format(top_selling[0].old_price) }}</p>
                        {% set discount = ((top_selling[0].old_price - top_selling[0].price) / top_selling[0].old_price * 100)|int %}
                        <p class="price_sale">-{{ discount }}%</p>
                    </div>
                    {% else %}
                    <p class="price">${{ "%.2f"|format(top_selling[0].price) }}</p>
                    {% endif %}
                    
                    {% else %}
                    <!-- Заглушка -->
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=5) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/VERTICAL STRIPED .jpg') }}" width="290" height="293" alt="Vertical Striped Shirt">
                    </a> 
                    <h3 class="clothes-name">Vertical Striped Shirt</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star last-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">5.0/</span>
                            <span>5</span>
                        </p>
                    </div>
                    <div class="ProductList-item-prices">
                        <p class="price_now">212$</p>
                        <p class="price_was">232$</p>
                        <p class="price_sale">-20%</p>
                    </div>
                    {% endif %}
                </li>

                <li class="ProductList-item">
                    {% if top_selling and top_selling|length > 1 %}
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=top_selling[1].id) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/' + top_selling[1].image) }}" width="290" height="293" alt="{{ top_selling[1].name }}">
                    </a> 
                    <h3 class="clothes-name">{{ top_selling[1].name }}</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            {% set full_stars = top_selling[1].rating|int %}
                            {% set has_half = top_selling[1].rating - full_stars >= 0.5 %}
                            
                            {% for i in range(full_stars) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endfor %}
                            
                            {% if has_half %}
                            <li class="half"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endif %}
                            
                            {% for i in range(5 - full_stars - (1 if has_half else 0)) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star" style="opacity: 0.3;"></li>
                            {% endfor %}
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">{{ "%.1f"|format(top_selling[1].rating) }}/</span>
                            <span>5</span>
                        </p>
                    </div>
                    <p class="price">${{ "%.2f"|format(top_selling[1].price) }}</p>
                    {% else %}
                    <!-- Заглушка -->
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=6) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/T-COURAGE GRAPHIC .jpg') }}" width="290" height="293" alt="Courage Graphic T-shirt">
                    </a> 
                    <h3 class="clothes-name">Courage Graphic T-shirt</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star last-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">4.0/</span>
                            <span>5</span>
                        </p>
                    </div>
                    <p class="price">145$</p>
                    {% endif %}
                </li>
                
                <li class="ProductList-item">
                    {% if top_selling and top_selling|length > 2 %}
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=top_selling[2].id) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/' + top_selling[2].image) }}" width="290" height="293" alt="{{ top_selling[2].name }}">
                    </a> 
                    <h3 class="clothes-name">{{ top_selling[2].name }}</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            {% set full_stars = top_selling[2].rating|int %}
                            {% set has_half = top_selling[2].rating - full_stars >= 0.5 %}
                            
                            {% for i in range(full_stars) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endfor %}
                            
                            {% if has_half %}
                            <li class="half"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endif %}
                            
                            {% for i in range(5 - full_stars - (1 if has_half else 0)) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star" style="opacity: 0.3;"></li>
                            {% endfor %}
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">{{ "%.1f"|format(top_selling[2].rating) }}/</span>
                            <span>5</span>
                        </p>
                    </div>
                    <p class="price">${{ "%.2f"|format(top_selling[2].price) }}</p>
                    {% else %}
                    <!-- Заглушка -->
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=7) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/LOOSE FIT BERMUDA SHORTS.jpg') }}" width="290" height="293" alt="Loose Fit Bermuda Shorts">
                    </a> 
                    <h3 class="clothes-name">Loose Fit Bermuda Shorts</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star last-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">3.0/</span>
                            <span>5</span>
                        </p>
                    </div>
                    <p class="price">80$</p>
                    {% endif %}
                </li>

                <li class="ProductList-item">
                    {% if top_selling and top_selling|length > 3 %}
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=top_selling[3].id) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/' + top_selling[3].image) }}" width="290" height="293" alt="{{ top_selling[3].name }}">
                    </a> 
                    <h3 class="clothes-name">{{ top_selling[3].name }}</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            {% set full_stars = top_selling[3].rating|int %}
                            {% set has_half = top_selling[3].rating - full_stars >= 0.5 %}
                            
                            {% for i in range(full_stars) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endfor %}
                            
                            {% if has_half %}
                            <li class="half"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            {% endif %}
                            
                            {% for i in range(5 - full_stars - (1 if has_half else 0)) %}
                            <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star" style="opacity: 0.3;"></li>
                            {% endfor %}
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">{{ "%.1f"|format(top_selling[3].rating) }}/</span>
                            <span>5</span>
                        </p>
                    </div>
                    <p class="price">${{ "%.2f"|format(top_selling[3].price) }}</p>
                    {% else %}
                    <!-- Заглушка -->
                    <a class="wrapper-clothes-img" href="{{ url_for('main.product', id=8) }}">
                        <img class="clothes-img" src="{{ url_for('static', filename='img/Faded Skinny Jeans.jpg') }}" width="290" height="293" alt="Faded Skinny Jeans">
                    </a> 
                    <h3 class="clothes-name">Faded Skinny Jeans</h3>
                    <div class="ProductList-item-mark">
                        <ul class="ProductList-item-stars">
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                            <li class="ProductList-item-star half"><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="18" height="18" alt="star"></li>
                        </ul>
                        <p class="ProductList-item-assessment assessment">
                            <span class="black">4.5/</span>
                            <span>5</span>
                        </p>
                    </div>
                    <p class="price">210$</p>
                    {% endif %}
                </li>
            </ul>
            <a class="ProductList-button button" href="{{ url_for('main.category', category_name='sales') }}">View All</a>    
        </section>
    </div>

    <section class="Styles"> 
        <h2 class="H2-IntegralFont">BROWSE BY DRESS STYLE</h2>

        <ul class="Styles-list">
            <li class="Styles-item Casual-item">
                <a href="{{ url_for('main.category', category_name='casual') }}"><h2>Casual</h2></a>                    
            </li>
            <li class="Styles-item Formal-item">
                <a href="{{ url_for('main.category', category_name='men') }}?style=formal"><h2>Formal</h2></a>                    
            </li>
            <li class="Styles-item Party-item">
                <a href="{{ url_for('main.category', category_name='novelty') }}"><h2>Party</h2></a>                    
            </li>
            <li class="Styles-item Gym-item">
                <a href="{{ url_for('main.category', category_name='casual') }}?style=gym"><h2>Gym</h2></a>
            </li>
        </ul>
    </section>

    <section class="carousel">
        <div class="carousel-header">
            <h2 class="H2-IntegralFont">OUR HAPPY CUSTOMERS</h2>
            <button class="carousel-button prev" onclick="moveCarousel(-1)">
                <img src="{{ url_for('static', filename='img/black-arrow.svg') }}" width="16" height="19" alt="left-arrow(prev)">
            </button>
            <button class="carousel-button next" onclick="moveCarousel(1)">
                <img src="{{ url_for('static', filename='img/black-arrow.svg') }}" width="16" height="19" alt="right-arrow(next)">
            </button>
        </div>
        <ul class="carousel-container">
            <li class="review-group">
                <article class="Reviews-item">
                    <div class="review-header">
                        <h3 class="review-name">Sarah M.</h3>
                        <img src="{{ url_for('static', filename='img/Green-roun-with-check.svg') }}" width="24" height="24" alt="Verified">
                    </div>
                    <ul class="Reviews-item-stars">
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                    </ul>
                    <p class="review-text">"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations."</p>
                </article>
                <article class="Reviews-item">
                    <div class="review-header">
                        <h3 class="review-name">Alex K.</h3>
                        <img src="{{ url_for('static', filename='img/Green-roun-with-check.svg') }}" width="24" height="24" alt="Verified">
                    </div>
                    <ul class="Reviews-item-stars">
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                    </ul>
                    <p class="review-text">"Finding clothes that align with my personal style used to be a challenge until I discovered Shop.co. The range of options they offer is truly remarkable, catering to a variety of tastes and occasions."</p>
                </article>
                <article class="Reviews-item">
                    <div class="review-header">
                        <h3 class="review-name">James L.</h3>
                        <img src="{{ url_for('static', filename='img/Green-roun-with-check.svg') }}" width="24" height="24" alt="Verified">
                    </div>
                    <ul class="Reviews-item-stars">
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                    </ul>
                    <p class="review-text">"As someone who's always on the lookout for unique fashion pieces, I'm thrilled to have stumbled upon Shop.co. The selection of clothes is not only diverse but also on-point with the latest trends."</p>
                </article>
            </li>
            <li class="review-group">
                <article class="Reviews-item">
                    <div class="review-header">
                        <h3 class="review-name">Emily R.</h3>
                        <img src="{{ url_for('static', filename='img/Green-roun-with-check.svg') }}" width="24" height="24" alt="Verified">
                    </div>
                    <ul class="Reviews-item-stars">
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                    </ul>
                    <p class="review-text">"Shop.co has become my go-to for all my fashion needs. The quality is unmatched, and the styles are always on trend."</p>
                </article>
                <article class="Reviews-item">
                    <div class="review-header">
                        <h3 class="review-name">Michael T.</h3>
                        <img src="{{ url_for('static', filename='img/Green-roun-with-check.svg') }}" width="24" height="24" alt="Verified">
                    </div>
                    <ul class="Reviews-item-stars">
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                    </ul>
                    <p class="review-text">"I love the variety of options available at Shop.co. Whether I need something casual or formal, I can always find it here."</p>
                </article>
                <article class="Reviews-item">
                    <div class="review-header">
                        <h3 class="review-name">Laura P.</h3>
                        <img src="{{ url_for('static', filename='img/Green-roun-with-check.svg') }}" width="24" height="24" alt="Verified">
                    </div>
                    <ul class="Reviews-item-stars">
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                        <li><img src="{{ url_for('static', filename='img/Star 5.svg') }}" width="23" height="23" alt="star"></li>
                    </ul>
                    <p class="review-text">"The customer service at Shop.co is exceptional. They are always ready to help and ensure I have a great shopping experience."</p>
                </article>
            </li>
        </ul>
    </section>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/html1-karusel.js') }}"></script>
{% endblock %}